html {
	position: relative;
	min-height: 100%;
}

body {
	height: 0 0 100px;
	padding: 25px;
	background-color: #D9D9D9;
	background-color: white;
}

body, html {
	margin: 0;
	padding: 0;
}

#header {
	background-color: #4484CE;
	border: solid #4484CE;
	height: 75px;
}

#name {
	font-size: 30px;
	text-align: right;
	font-family: 'Open Sans', sans-serif;
	padding-right: 25px;
	position: absolute;
	right: 0;
	width: 400px;
	padding: 10px;
	margin-top: 10px;
}


/*Dropdown Menu img*/
#header img {
	cursor: pointer;
	margin-top: 12.5px;
}

#title {
	padding-top: 25px;
	text-align: center;
}

#title #text {
	height: auto;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
}

#intro {
	/*border: solid;*/
	min-height: 650px;
}

#intro img {
	position: relative;
	width: 100%;
}

#introName {
	height: 650px;
    line-height: 650px;
	font-size: 50px;
    text-align: center;
    /*border: 2px dashed #f69c55;*/
}

span {
	position: absolute;
	top: auto;
	display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#coverPhoto {
	width: 100%;
	z-index: 0;
	opacity: 0.5;
}

/************
****ABOUT****
************/

#image {
	margin-top: 25px;
}

#myPic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

/*************
**EXPERIENCE**
*************/



.company {
	padding-top: 65px;
	overflow: hidden;
}

.compTitle {
	font-size: 45px;
    text-align: left;
	padding-left: 5%;
	float: left;
}

.image img {
   /*content:url('../images/ACLJ_Logo.png');*/
   float: right;
   padding-right: 5%;
   width: 25%;
   height: 25%;
}​

.compPic {
	width: 50%;
	height: 50%;
	float: left;
	padding-right: 5%;
	border: solid black;
}

.para {
	clear: left;
	max-width: 700px;
	/*padding-right: 5%;*/
	padding-left: 5%;
	overflow: auto;
}

.bullet li {
	margin: 10px;
}

/************
**BIOGRAPHY**
************/
#bio {
	margin-top: 25px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#bio p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

/************
***FOOTER****
************/

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

footer, .push {
	height: 75px;
	background-color: #4484CE;
	margin-top: 50px;
}

#logos {
	text-align: center;
	word-spacing: 25px;
    padding-top: 20px;
    padding-right: 20px;
}

#logos a {
	text-decoration: none;
}

#github {
	width: 50px;
	height: 50px;
}

#linkedin {
	width: 50px;
	height: 50px;
}

/*************
**JAVASCRIPT**
*************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F19F4D;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
	font-family: 'Open Sans', sans-serif;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}